<!DOCTYPE html>
<html lang="en">
<head>
    <title>Thực hành An toàn thông tin nâng cao</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script>
        function openGUI(cipher) {
            fetch('/open_gui/' + cipher, { method: 'POST' })
                .then(response => {
                    if (response.ok) {
                        console.log(cipher + ' GUI opened');
                    } else {
                        console.error('Error opening ' + cipher + ' GUI');
                    }
                })
                .catch(error => console.error('Error:', error));
        }
    </script>
</head>
<body>
    <div class="container">
        <img src="https://file1.hutech.edu.vn/file/editor/homepage/stories/hinh34/logo%20CMYK-01.png" alt="hutech" style="display: block; margin-left: auto; margin-right: auto; width: 30%;">
        <img src="https://file1.hutech.edu.vn/file/editor/homepage1/449223-imgpsh_fullsize_anim-6.jpg" alt="hutech" style="display: block; margin-left: auto; margin-right: auto; width: 30%;">
        <h4 style="font-weight: bold; text-align: center;">BÀI THỰC HÀNH BẢO MẬT THÔNG TIN NÂNG CAO</h4>
        <h4>Lại Vũ Hoàng Minh - 2280601927 HELLO WORLD!</h4>
        <ul style="margin-top: 30px;">
            <li><a href="#" onclick="openGUI('caesar')">Caesar Cipher</a></li>
            <li><a href="#" onclick="openGUI('vigenere')">Vigenere Cipher</a></li>
            <li><a href="#" onclick="openGUI('railfence')">RailFence Cipher</a></li>
            <li><a href="#" onclick="openGUI('playfair')">Playfair Cipher</a></li>
        </ul>
    </div>
</body>
</html>
